{% extends "base.html" %}
{% block extra_head %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key={{apikey}}"></script>

    <style>
      #map_canvas {
        height: 400px;
        width: 600px;
        margin-top: 0.6em;
      }
      input {
        border: 1px solid  rgba(0, 0, 0, 0.5);
      }
      input.notfound {
        border: 2px solid  rgba(255, 0, 0, 0.4);
      }
    </style>

    <script>
      function handleNoGeolocation(errorFlag) {
        // set a reasonable default, like sf.
        map.setCenter(new google.maps.LatLng(37.775, -122.4183));
      } 

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-33.8688, 151.2195),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

        var input = document.getElementById('locationSearchBox');
        var autocomplete = new google.maps.places.Autocomplete(input);


        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map
        });

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          input.className = '';
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // Inform the user that the place was not found and return.
            input.className = 'notfound';
            return;
          }

          // Set the form inputs based on location.
          var lat = document.getElementById('lat_input');
          var lon = document.getElementById('lon_input');
          lat.value = place.geometry.location.lat();
          lon.value = place.geometry.location.lng();

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          var image = new google.maps.MarkerImage(
              place.icon,
              new google.maps.Size(71, 71),
              new google.maps.Point(0, 0),
              new google.maps.Point(17, 34),
              new google.maps.Size(35, 35));
          marker.setIcon(image);
          marker.setPosition(place.geometry.location);

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block body%}
  <h4>Add new Quest</h4>
  <div class=container>
  <form method="POST">
    <label>Description</label>
    <input type="text" name="desc">
    <label> Location </label>
    <input type="text" name="location" id="locationSearchBox">
    <input type="hidden" id="lat_input" name="lat">
    <input type="hidden" id="lon_input" name="lon">
    <br/>
    <button class="btn btn-warning" type="submit">Accept Quest!</button>
  </form>
  <div id="map_canvas">
  </div>
  </div>
{%endblock%}
